* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Theinhardt-Regular";
  font-size: 18px;
  line-height: 1.4;
  background: center 75px/contain no-repeat fixed #e4e4e4 url("../assets/svg/RISDGlobal_bg.svg");
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-family: Theinhardt-Thin;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 1rem; }

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

h3, h4, h5, h6 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-family: Theinhardt-Medium;
  font-size: 1.16rem; }

p {
  margin-bottom: 1rem; }

img {
  width: 100%;
  display: block; }

a {
  color: #4d4d4d;
  text-decoration: none;
  transition: color 200ms linear, border-color 200ms linear; }

a:hover {
  color: #4d4d4d; }

.section-link {
  border: 2px solid #4d4d4d;
  padding: .5rem 1rem; }

a.sublink {
  padding-bottom: 1px;
  border-bottom: 2px solid white; }

.highlight a.section-link:hover, a.sublink:hover {
  color: #4d4d4d !important;
  border-color: #4d4d4d; }

.logo {
  width: 80px;
  position: fixed;
  top: .6rem;
  right: 1rem;
  z-index: 60; }

.arrow_bg {
  position: fixed;
  width: 95vw;
  left: 2vw;
  top: 50px;
  z-index: 1; }

.svg_arrow {
  width: 100%; }
  .svg_arrow .a {
    fill: #cd25b0; }
  .svg_arrow .b {
    fill: none;
    stroke: #cd25b0;
    stroke-miterlimit: 10;
    stroke-width: 1.66px; }

header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 50;
  padding: .8rem 10vw 0rem 10vw;
  width: 100vw; }
  header:hover {
    cursor: pointer; }
    header:hover .expanded {
      height: auto;
      max-height: 400px; }

.menu {
  display: none;
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 20px; }
  .menu .line {
    background: #4d4d4d;
    margin: 5px 0px;
    height: 2px; }

nav {
  background: white; }
  nav ul {
    list-style-type: none; }
  nav .expanded li {
    font-size: .9rem; }
    nav .expanded li:last-child {
      padding-bottom: 2rem; }
  nav a {
    display: inline-block;
    padding: 0.25rem 0;
    width: 100%; }
  nav a.main-menu {
    margin-bottom: 0.25rem; }
  nav .cell {
    padding: 0 0.5rem; }
  nav .expanded {
    max-height: 0;
    transition: max-height 500ms ease-in-out;
    overflow: hidden;
    background: white; }
  nav .bar {
    width: 100px;
    height: 2px;
    background: #4d4d4d;
    margin-bottom: 1rem;
    transition: background-color 200ms linear; }

main {
  max-width: 1000px;
  margin: auto; }

section {
  position: relative;
  margin-bottom: 12rem; }

section::after {
  content: "";
  clear: both;
  display: table; }

.floater {
  position: relative;
  padding: 5rem 1rem; }

.postcard {
  position: relative;
  width: 600px;
  height: 450px;
  transition-property: opacity, background-color, transform;
  transition-duration: .5s;
  transition-timing-function: linear;
  background-color: transparent; }
  .postcard:hover {
    z-index: 10;
    opacity: 1;
    cursor: pointer; }

.flipper {
  position: static; }

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.front, .back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.back {
  background: white;
  height: 450px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 1rem; }
  .back .cell {
    padding: 0; }
  .back .cols {
    height: 100%; }
  .back .col1 {
    align-self: flex-end; }
  .back .col2 {
    border-left: 2px solid #4d4d4d; }
  .back .col2 p {
    padding-left: 1rem;
    text-indent: -10px; }
  .back .sublink {
    font-size: .9rem; }

.flipped {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.quote {
  font-family: "Arnhem-Blond";
  font-size: 1.5rem;
  line-height: 1.4; }

.card-info {
  font-size: .9rem; }

.p1 {
  left: 15%;
  top: 0;
  opacity: 0.5; }

.p2 {
  margin-top: -40%;
  opacity: 0.75; }

.p3 {
  left: 30%;
  margin-top: -40%; }

.pos4 {
  left: 10%;
  margin-top: -50%; }

.flip {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 60px; }

.svg-flip {
  width: 60px; }
  .svg-flip .corner {
    fill: white; }
  .svg-flip .arrow {
    fill: #cd25b0; }

.postcard:hover .corner {
  fill: #cd25b0; }
.postcard:hover .arrow {
  fill: white; }

/*----------------------------*/
.bar {
  width: 225px;
  height: 2px;
  background: #4d4d4d;
  margin-bottom: 1rem; }

.summary {
  margin-bottom: 1rem; }

.highlight {
  padding: 2rem;
  width: 75%;
  margin-left: 25%; }
  .highlight .summary {
    color: #4d4d4d;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem; }

.highlight_small {
  float: right;
  margin-top: 1rem;
  width: 50%;
  padding: 2rem; }
  .highlight_small .thumbnail {
    margin-right: 1.5rem; }

.about .highlight {
  width: 100%;
  margin: 0; }
  .about .highlight .bar {
    background: #4d4d4d; }
  .about .highlight .summary {
    font-family: Theinhardt-Light;
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 2rem; }
.about .highlight_small {
  color: #cd25b0;
  width: 75%; }
.about h1, .about a:hover, .about .section-link, .about .sublink {
  color: #cd25b0; }
.about .section-link, .about .sublink {
  border-color: #cd25b0; }
.about .bar, .about .thumbnail, .about .card {
  background: #cd25b0; }

.learn h1, .learn a:hover, .learn .section-link, .learn .sublink {
  color: #ff5000; }
.learn .highlight_small {
  color: #ff5000; }
.learn .section-link, .learn .sublink {
  border-color: #ff5000; }
.learn .bar, .learn .card {
  background: #ff5000; }
.learn .svg-flip .arrow {
  fill: #ff5000; }
.learn .postcard:hover .corner {
  fill: #ff5000; }
.learn .postcard:hover .arrow {
  fill: white; }
.learn .p3 {
  left: 5%; }

.research .highlight {
  margin-left: 0; }
.research h1, .research a:hover, .research .section-link, .research .sublink {
  color: #00c374; }
.research .section-link, .research .sublink {
  border-color: #00c374; }
.research .bar, .research .card {
  background: #00c374; }
.research .svg-flip .arrow {
  fill: #00c374; }
.research .postcard:hover .corner {
  fill: #00c374; }
.research .postcard:hover .arrow {
  fill: white; }

.engage .highlight {
  margin-left: 25%; }
.engage h1, .engage a:hover, .engage .section-link, .engage .sublink {
  color: #cd25b0; }
.engage .section-link, .engage .sublink {
  border-color: #cd25b0; }
.engage .bar, .engage .card {
  background: #cd25b0; }
.engage .p3 {
  left: 5%; }

.floater .postcard:first-child {
  margin-top: 0; }

.bulletins .floater {
  top: 20vh; }
.bulletins .highlight {
  padding: 0; }
.bulletins .scroll {
  height: 330px;
  overflow: auto; }
.bulletins h5, .bulletins p {
  font-size: 1rem;
  padding: 1rem; }

.bulletin {
  padding: 1rem; }

.bulletin_location, time {
  font-size: .7rem; }

.bulletin_title {
  font-size: 1.5rem;
  margin: .5rem 0; }

time {
  display: block;
  margin-bottom: .5rem; }

.news {
  background: #e0e0e0; }

footer {
  background: white;
  padding: 1rem; }
  footer .cell {
    padding: 1rem; }

.image {
  width: 100%;
  height: 200px;
  background: gray;
  margin-bottom: 1rem; }

.cols {
  display: flex;
  width: 100%; }

.cell {
  flex: 1; }

.col2 {
  flex: 2; }

.mono {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(150%);
  filter: grayscale(100%) contrast(150%);
  opacity: 1; }

.close {
  width: 20px;
  margin: .5rem;
  display: none; }
  .close:hover .x {
    stroke: #cd25b0; }

.x {
  stroke: #4d4d4d;
  stroke-width: 2px; }

.fixedPos {
  position: fixed; }

@media screen and (max-width: 950px) {
  header {
    height: 50px; }
    header .expanded {
      height: auto;
      max-height: none; }

  .menu {
    display: block; }

  nav {
    display: none;
    padding: 0 .5rem .5rem .5rem;
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow: auto; }
    nav .cols {
      display: block; }
    nav .close {
      display: block; } }
@media screen and (max-width: 450px) {
  .floater {
    width: 95%;
    height: 60vh; }

  .postcard {
    width: 90%;
    height: auto; }
    .postcard .back {
      height: auto; }
    .postcard p {
      margin-bottom: 0; }

  section {
    background-attachment: scroll;
    margin-bottom: 2rem; }

  .p3 {
    left: 5%; }

  .pos4 {
    left: 0; }

  .p1 {
    left: 5%; }

  .quote {
    font-size: 1rem; }

  h1 {
    font-size: 3.5rem; }

  nav {
    width: 100vw; }

  .about .highlight .summary {
    font-size: 1.6rem; }

  .about .highlight_small, .highlight, .highlight_small {
    width: 100%;
    padding: 1.5rem 1.2rem 2rem 1.2rem;
    margin: 0 !important; }

  .highlight_small {
    width: 100%; }

  .highlight .summary {
    font-size: 1.2rem; }

  .research .highlight {
    margin-left: 0; }

  .cols {
    display: block; }
    .cols .cell:first-child {
      margin-bottom: 1rem; }

  footer {
    padding: 0; } }
@media screen and (min-width: 950px) {
  .menu {
    display: none; }

  header.collapsed nav {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
