//POSTCARDS


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$black: rgb(77,77,77);
$grey: rgb(228,228,228);
$pink: rgb(205, 37, 176);
$orange: rgb(255,80,0);
$green: rgb(0,195,116);

body{
	font-family: "Theinhardt-Regular";
	font-size: 18px;
	line-height: 1.4;
	background: center 75px / contain no-repeat fixed $grey url('../assets/svg/RISDGlobal_bg.svg');
	color: $black;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
h1 {
	font-family: Theinhardt-Thin;
	font-size: 4.5rem;
	line-height: 1;
	margin-bottom: 1rem;
}
h2{
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
h3, h4, h5, h6{
	font-size: 1rem;
	margin-bottom: 1rem;
}
h3 {
	font-family: Theinhardt-Medium;
	font-size: 1.16rem;
}

p{
	margin-bottom: 1rem;
}

img{
	width: 100%;
	display: block;
}

// LINKS

a {
	color: $black;
	text-decoration: none;
	transition: color 200ms linear, border-color 200ms linear;
}

a:hover{
    color: $black;
}

.section-link {
    border: 2px solid $black;
    padding: .5rem 1rem;
}

a.sublink {
    padding-bottom: 1px;
    border-bottom: 2px solid white;
}
.highlight a.section-link:hover, a.sublink:hover{
	color: $black !important;
	border-color: $black;
}


.logo {
	width: 80px;
	position: fixed;
	top: .6rem;
	right: 1rem;
	z-index: 60;
}

.arrow_bg{
	position: fixed;
	width: 95vw;
	left: 2vw;
	top: 50px;
	z-index: 1;
}
.svg_arrow{
	width: 100%;
	.a{fill:$pink;}
	.b{fill:none;stroke:$pink;stroke-miterlimit:10;stroke-width:1.66px;}
}

//NAVIGATION

header {
	position: fixed;
	top:0;
	background: white;
	z-index: 50;
	padding: .8rem 10vw 0rem 10vw;
	width: 100vw;
	&:hover{
		cursor: pointer;
		.expanded {
			height: auto;
			max-height:400px;
		}
	}
}



.menu {
	display: none;
	position: fixed;
	left: 1rem;
	top: 1rem;
	width: 20px;
	.line{
		background: $black;
		margin: 5px 0px;
		height: 2px;
	}
}
nav {
	background: white;
	ul{
		list-style-type: none;
	}
	.expanded li{
		font-size: .9rem;
		&:last-child{
			padding-bottom: 2rem;
		}
	}
	a {
		display: inline-block;
		padding: 0.25rem 0;
		width: 100%;
	}
	a.main-menu{
		margin-bottom: 0.25rem;
	}
	.cell {
		padding: 0 0.5rem;
	}
	.expanded{
		max-height: 0;
		transition: max-height 500ms ease-in-out;
		overflow: hidden;
		background: white;
		// position: fixed;
		// z-index: 55;
		// top: 53px;
		// left: 0;
		// width: 100vw;
		// padding: 0rem 10vw;
	}

	.bar {
		width: 100px;
		height: 2px;
		background: $black;
		margin-bottom: 1rem;
		transition: background-color 200ms linear;
	}

}

main {
	max-width: 1000px;
	margin: auto;
}
section {
	position: relative;
	margin-bottom: 12rem;
}
section::after {
  content: "";
  clear: both;
  display: table;
}


.floater {
	position: relative;
	padding: 5rem 1rem;
}

///POSTCARDS----------------------///
.postcard{
	// position: absolute;
	position: relative;
	width: 600px;
	height: 450px;
	transition-property: opacity, background-color, transform;
	transition-duration: .5s;
	transition-timing-function: linear;
	background-color: transparent;

	&:hover{
		z-index: 10;
		opacity: 1;
		cursor: pointer;
	}
}

.flipper{
	position: static;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.front, .back{
	position: absolute;
	width: 100%;
	// height: 100%;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.back{
	background: white;
	height: 450px;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 1rem;
	
	.cell {
		padding: 0;
	}
	.cols{
		height: 100%;
	}
	.col1{
		align-self: flex-end;
	}	
	.col2{
		border-left: 2px solid $black;

	}
	.col2 p{
		padding-left: 1rem;
		text-indent: -10px;
	}

	.sublink{
		font-size: .9rem;
	}
}


.flipped{
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.quote{
	font-family: "Arnhem-Blond";
	font-size: 1.5rem;
	line-height: 1.4;
}

.card-info{
	font-size: .9rem;
}



.p1 {
	left: 15%;
	top: 0;
	opacity: 0.5;
}

.p2 {
	margin-top: -40%;
	opacity: 0.75;
}

.p3 {
	left: 30%;
	margin-top: -40%;
}


.pos4 {
	left: 40%;
	margin-top: -50%;
}

.flip {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 60px;
	width: 60px;
}

.svg-flip{
	width: 60px;
	.corner{
		fill: white;
	}
	.arrow{
		fill: $pink;
	}
}
.postcard:hover{
	.corner{
		fill: $pink;
	}
	.arrow{
		fill: white;
	}
}

/*----------------------------*/

.bar {
	width: 225px;
	height: 2px;
	background: $black;
	margin-bottom: 1rem;
}
.summary {
	margin-bottom: 1rem;
}

.highlight{
	padding: 2rem;
	width: 75%;
	margin-left: 25%;
	
	.summary{
		color: $black;
		font-size: 1.6rem;
		line-height: 1.5;
		margin-bottom: 2rem;
	}
}

.highlight_small {
	float:right;
	margin-top: 1rem;
	width: 50%;
	padding: 2rem;
	.thumbnail{
		margin-right: 1.5rem;
	}
}



.about{
	.highlight{
		width: 100%;
		margin: 0;
		.bar{
			background: $black;
		}
		.summary {
			font-family: Theinhardt-Light;
			font-size: 2.8rem;
			line-height: 1.3;
			margin-bottom: 2rem;
		}
	}
	.highlight_small{
		color: $pink;
		width: 75%;
	}
	h1,a:hover,.section-link,.sublink{
		color: $pink;
	}
	.section-link,.sublink {
		border-color: $pink;
	}
	.bar, .thumbnail, .card{
		background: $pink;
	}

}


.learn{
	h1,a:hover,.section-link,.sublink{
		color: $orange;
	}
	.highlight_small{
		color: $orange;
	}
	.section-link,.sublink{
		border-color: $orange;
	}
	.bar, .card{
		background: $orange;
	}

	.svg-flip{
		.arrow{
			fill: $orange;
		}
	}
	.postcard:hover{
		.corner{
			fill: $orange;
		}
		.arrow{
			fill: white;
		}
	}

}
.research{
	.highlight {
		margin-left: 0;
	}
	h1,a:hover,.section-link,.sublink{
		color: $green;
	}

	.section-link,.sublink {
		border-color: $green;
	}
	.bar, .card{
		background: $green;
	}

	.svg-flip{
		.arrow{
			fill: $green;
		}
	}
	.postcard:hover{
		.corner{
			fill: $green;
		}
		.arrow{
			fill: white;
		}
	}

}
.engage{
	.highlight{
		margin-left: 25%;
	}
	h1,a:hover,.section-link,.sublink{
		color: $pink;
	}
	.section-link,.sublink {
		border-color: $pink;
	}
	.bar, .card{
		background: $pink;
	}
}


.floater .postcard:first-child{
	margin-top: 0;

}


.bulletins{
	.floater{
		top: 20vh;
	}
	.highlight{
		padding: 0;
	}
	.scroll{
		height: 330px;
		overflow: auto;
	}
	h5, p{
		font-size: 1rem;
		padding: 1rem;
	}
}
.bulletin{
	padding: 1rem;
}
.bulletin_location, time{
	font-size: .7rem;
}

.bulletin_title{
	font-size: 1.5rem;
	margin: .5rem 0;
}
time{
	display: block;
	margin-bottom: .5rem;
}

.news{
	background: #e0e0e0;
}

footer{
	background: white;
	padding: 1rem;
	.cell{
		padding: 1rem;
	}
}
.image{
	width: 100%;
	height: 200px;
	background: gray;
	margin-bottom: 1rem;
}

.cols{
	display: flex;
	width: 100%;
}
.cell{
	flex: 1;
}

.col2{
	flex: 2;
}

// images
.mono {
	mix-blend-mode: screen;
	-webkit-filter: grayscale(100%) contrast(150%);
	filter: grayscale(100%) contrast(150%);
	opacity: 1;
}


.close{
	width: 20px;
	margin: .5rem;
	display: none;
	&:hover{
		.x{
			stroke: $pink;
		}
	}
}
.x{
	stroke: $black;
	stroke-width:2px;
}

.fixedPos{
	position: fixed;
}


@media screen and (max-width: 950px) {
	header {
		height: 50px;
		.expanded {
			height: auto;
			max-height: none;
		}
	}
	.menu{
		display: block;
	}
	nav{
		display: none;
		padding: 0 .5rem .5rem .5rem;
		width: 50vw;
		height: 100vh;
		position: fixed;
		left: 0;
		overflow: auto;

		.cols{
			display: block;
		}
		.close{
			display: block;
		}

	}

}

@media screen and (max-width: 450px) {
	
	.floater{
		width: 95%;
		height: 60vh;
	}

	.postcard{
		width: 90%;
		height: auto;
		.back {
			height: auto;
		}
		p{
			margin-bottom: 0;
		}
	}

	section{
		background-attachment:	scroll;
		margin-bottom: 2rem;
	}

	.p3{
		left: 5%;
	}
	.pos4{
		left: 0;
	}
	.p1{
		left: 5%;
	}

	.quote{
		font-size: 1rem;
	}

	h1{
		font-size: 3.5rem;
	}
	nav{
		width: 100vw;
	}

	.about .highlight .summary {
		font-size: 1.6rem;
	}
	.about .highlight_small, .highlight, .highlight_small {
		width: 100%;
		padding: 1.5rem 1.2rem 2rem 1.2rem;
		margin: 0!important;
	}
	.highlight_small {
		width: 100%;
	}
	.highlight .summary{
		font-size: 1.2rem;
	}
	.research .highlight {
		margin-left: 0;
	}

	.cols{
		display: block;
		.cell:first-child{
			margin-bottom: 1rem;
		}
	}

	footer{
		padding: 0;
	}

}

@media screen and (min-width: 950px) {
	.menu {
		display: none;
	}
	header.collapsed nav {
		display: block !important;
	}
}