* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  font-family: "Theinhardt-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  background: center 75px/contain no-repeat fixed #e4e4e4 url("../svg/RISDGlobal_bg_arrow.svg");
  color: #4d4d4d; }

/*-------------------------------------------
	TYPOGRAPHY
-------------------------------------------*/
h1 {
  font-family: "Theinhardt-Thin";
  font-size: 4.5rem;
  line-height: 1; }

h2, .overview .summary {
  font-family: "Theinhardt-Light";
  font-size: 2.8rem;
  letter-spacing: -.5px;
  line-height: 1.3; }

.highlight, .event_title, .announcement_title {
  font-size: 1.6rem; }

h3, h4, h5, h6, .section-link, .color-box a.section-link, .event_info {
  font-size: .9rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  margin-bottom: 1rem; }

h2 {
  margin-bottom: 1rem; }

h3, h4, h5, h6 {
  margin-bottom: 1rem; }

h3 {
  font-family: 'Theinhardt-Medium';
  text-transform: uppercase;
  letter-spacing: .5px; }

p {
  margin-bottom: 1rem; }

a {
  color: #4d4d4d;
  text-decoration: none;
  transition: color 200ms linear, border-color 200ms linear; }

a:hover {
  color: #4d4d4d; }

.section-link {
  border: 1px solid #4d4d4d;
  padding: .5rem 1rem; }

.color-box a.section-link {
  color: white;
  padding: 0;
  padding-bottom: 1px;
  border: 0;
  border-bottom: 1px solid white; }

.anchor-link {
  color: white;
  display: block;
  margin-bottom: .5rem; }

.section-link::after {
  content: " \2192"; }

a.section-link:hover, a.sublink:hover, a.anchor-link:hover {
  color: #4d4d4d !important;
  border-color: #4d4d4d; }

.pink-text {
  color: #cd25b0; }

/*-------------------------------------------
	GRID
-------------------------------------------*/
.cols {
  display: flex; }

.cell {
  flex: 1; }

.col2 {
  flex: 2; }

/*-------------------------------------------
	HEADER & NAVIGATION
-------------------------------------------*/
header {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 50;
  padding: 1rem 8% 0rem 8%;
  width: 100vw; }
  header:hover {
    cursor: pointer;
    background: white; }
    header:hover .expanded {
      height: auto;
      max-height: 500px; }

.menu {
  display: none;
  position: fixed;
  padding-top: .8rem;
  padding-left: .5rem;
  width: 100%; }
  .menu .line {
    width: 20px;
    background: #4d4d4d;
    margin: 5px 1rem;
    height: 2px; }

nav ul {
  list-style-type: none; }
nav .expanded li:last-child {
  padding-bottom: 2rem; }
nav a {
  display: inline-block;
  padding: 0.25rem 0;
  width: 100%; }
nav a.main-menu {
  margin-bottom: 0.5rem; }
  nav a.main-menu::after {
    content: "\2192";
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    left: 5px; }
nav .cell {
  padding: 0 1rem; }
nav .expanded {
  max-height: 0;
  transition: max-height 400ms ease-in-out;
  overflow: hidden; }
nav .bar {
  height: 1px;
  background: #4d4d4d;
  margin-bottom: 1rem;
  transition: background-color 200ms linear; }

/*-------------------------------------------
	SNAPSHOTS
-------------------------------------------*/
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.highlight, .events, .announcements, .grid-snippet, footer {
  pointer-events: auto; }

.snapshots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; }

.snapshot {
  position: relative;
  width: 800px;
  margin-top: -80px;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out; }

.snapshot:nth-child(2), .snapshot:nth-child(6) {
  margin-right: 0;
  margin-left: auto; }

.snapshot:nth-child(odd) {
  margin-right: 20%;
  margin-left: auto; }

.snapshot:first-child, .snapshot:nth-child(4n) {
  margin-left: 0; }

.active {
  z-index: 50;
  opacity: 1; }

.pin {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: #cd25b0;
  width: 200px;
  color: white;
  padding: 1rem;
  font-size: .8rem;
  text-align: center;
  top: 100px;
  z-index: 50;
  left: 50px;
  top: 50px;
  cursor: pointer; }
  .pin a {
    color: white; }

.pin:after {
  content: "\25bc";
  text-align: center;
  color: #cd25b0;
  position: absolute;
  bottom: -30px;
  font-size: 30px;
  left: 50%;
  margin-left: -15px; }

@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: .9; }
  10% {
    z-index: 50;
    opacity: .2; }
  100% {
    z-index: 50;
    opacity: 1; } }
/*-------------------------------------------
	CHUNKS
-------------------------------------------*/
section {
  padding-top: 3rem;
  padding-bottom: 10rem;
  position: relative; }

section.top {
  padding-bottom: 30rem; }

.floater {
  width: 85%;
  margin: auto;
  max-width: 1050px;
  margin-top: 50vh; }

.highlight {
  background: white;
  color: #646464;
  width: 75%;
  padding: 2rem 2rem 4rem 2rem; }

.align-right .highlight, .align-right .snippet {
  margin-right: 0;
  margin-left: auto; }

.snippet {
  pointer-events: auto;
  width: 50%;
  padding: 2rem 1.5rem;
  color: white; }
  .snippet .summary {
    color: rgba(255, 255, 255, 0.75); }
  .snippet .thumbnail {
    margin-right: 1.5rem; }

nav .global:hover .bar {
  background: #cd25b0; }

nav .learn-abroad:hover .bar {
  background: #ff5000; }

nav .research:hover .bar {
  background: #00c374; }

nav .engage:hover .bar {
  background: #cd25b0; }

.grid-snippet {
  width: 100%;
  background: white;
  padding: 2rem; }
  .grid-snippet .cols {
    flex-wrap: wrap;
    align-items: flex-start; }
  .grid-snippet .cell {
    min-width: 30%;
    max-width: 30%;
    margin-right: 1rem; }

/*-------------------------------------------
	SECTIONS
-------------------------------------------*/
.home .overview {
  width: 100%; }

.global .highlight {
  width: 100%; }
.global .snippet {
  background: #cd25b0;
  width: 75%; }
.global h1, .global a:hover, .global .highlight .section-link, .global .pin:after {
  color: #cd25b0; }
.global .section-link {
  border-color: #cd25b0; }
.global .pin {
  top: 200px;
  right: 10vw; }

.grid-snippet h3 {
  font-family: "Theinhardt-Regular";
  font-size: 1.3rem;
  color: #ff5000;
  text-transform: none;
  margin: 1rem 0; }

.learn-abroad .pin {
  background: #ff5000;
  left: 20vw;
  top: 200px; }
.learn-abroad h1, .learn-abroad a:hover, .learn-abroad .section-link, .learn-abroad .pin:after {
  color: #ff5000; }
.learn-abroad .snippet {
  background: #ff5000; }
.learn-abroad .section-link {
  border-color: #ff5000; }
.learn-abroad h2, .learn-abroad .overview .summary {
  color: #ff5000; }

.research .pin {
  background: #00c374;
  top: 300px;
  right: 40vw; }
.research h1, .research a:hover, .research .section-link, .research .pin:after {
  color: #00c374; }
.research .section-link {
  border-color: #00c374; }

.engage .pin {
  background: #cd25b0;
  left: 30vw; }
.engage h1, .engage a:hover, .engage .section-link, .engage .pin:after {
  color: #cd25b0; }
.engage .section-link {
  border-color: #cd25b0; }

/*-------------------------------------------
	News
-------------------------------------------*/
.news .floater {
  display: flex; }
.news .highlight {
  padding: 0; }
.news .scroll {
  height: 330px;
  overflow: auto; }
.news h3, .news p {
  padding: 1.5rem;
  margin: 0; }

.events {
  flex: 2;
  margin-right: 1rem; }

.announcements {
  flex: 1; }

.events, .announcements {
  background: #cd25b0;
  color: white; }

.event, .announcement {
  padding: 1.5rem;
  padding-top: 0; }
  .event:hover, .announcement:hover {
    background: white;
    color: #cd25b0;
    cursor: pointer; }

.event_title, .announcement_title {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  border-top: 1px solid white; }

.event_info {
  opacity: .75; }
  .event_info .event_location, .event_info .event_date, .event_info .event_time {
    display: inline-block;
    margin-right: 1rem; }

.announcement_title {
  font-style: italic;
  font-size: 1rem; }

footer {
  background: rgba(255, 255, 255, 0.9);
  padding: 0.8rem 8% 0rem 8%; }
  footer .cell {
    padding: 1rem; }

/*-------------------------------------------
	Images
-------------------------------------------*/
img {
  max-width: 100%;
  display: block; }

.logo {
  width: 60px;
  opacity: 0.5;
  position: fixed;
  top: .8rem;
  right: 2rem;
  z-index: 60; }

.arrow_bg {
  position: fixed;
  width: 95vw;
  left: 2vw;
  top: 50px;
  z-index: 1; }

.svg_arrow {
  width: 100%; }
  .svg_arrow .a {
    fill: #cd25b0; }
  .svg_arrow .b {
    fill: none;
    stroke: #cd25b0;
    stroke-miterlimit: 10;
    stroke-width: 1.66px; }

.svg_icon {
  width: 50px; }
  .svg_icon .a {
    fill: none;
    stroke: #4d4d4d;
    stroke-miterlimit: 10;
    stroke-width: 2.53px; }
  .svg_icon .b {
    fill: #4d4d4d; }

.svg_icon:hover .a {
  stroke: #cd25b0; }
.svg_icon:hover .b {
  fill: #cd25b0; }

.mono {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(150%);
  filter: grayscale(100%) contrast(150%);
  opacity: 1; }

.image {
  width: 100%;
  background: gray;
  margin-bottom: 1rem; }

/*-------------------------------------------
	MOBILE STYLES
-------------------------------------------*/
.close {
  width: 20px;
  margin: 1rem;
  display: none; }
  .close:hover .x {
    stroke: #cd25b0; }

.x {
  stroke: #4d4d4d;
  stroke-width: 2px; }

.fixedPos {
  position: fixed; }

@media screen and (max-width: 1120px) {
  header {
    height: 60px;
    padding: 0; }
    header .expanded {
      height: auto;
      max-height: none; }

  .menu {
    display: block; }

  nav {
    display: none;
    padding: 0.5rem;
    padding-top: 0;
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow: auto;
    background: white; }
    nav .cols {
      display: block; }
    nav .close {
      display: block; }
    nav .expanded li {
      font-size: 1rem; }
    nav .bar {
      margin-bottom: .5rem; }

  .snapshot {
    width: 500px; } }
@media screen and (max-width: 450px) {
  section.top {
    padding-bottom: 10rem; }

  section {
    padding-bottom: 8rem; }

  .floater {
    width: 95%; }

  .news .floater {
    display: block; }

  .events {
    margin-right: 0; }

  .color-box {
    margin: 2.5vw 0; }

  .event, .announcement {
    padding: 1rem;
    padding-top: 0rem; }

  .event_title, .announcement_title {
    font-size: 1.2rem;
    padding-top: 1rem; }

  .news h3, .news p {
    padding: 1rem; }

  .snapshot {
    width: 80vw;
    margin-top: -5vh; }

  .pin {
    padding: .5em;
    width: 150px;
    font-size: .7rem; }

  .snapshot:nth-child(2), .snapshot:nth-child(6), .snapshot:nth-child(9) {
    margin-bottom: 120vh; }

  .snapshot:nth-child(even) {
    margin-right: auto;
    margin-left: 0; }

  .snapshot:nth-child(odd) {
    margin-right: 0;
    margin-left: auto; }

  nav {
    width: 100vw; }

  .snippet {
    width: 100% !important;
    padding: 1.5rem 1.2rem 2rem 1.2rem; }
    .snippet .thumbnail {
      width: 70%; }

  .highlight {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 1rem;
    padding-bottom: 2rem; }
    .highlight h1 {
      font-size: 2.6rem;
      font-family: "Theinhardt-Light"; }
    .highlight .summary {
      font-size: 1.2rem;
      font-family: "Theinhardt-Regular";
      letter-spacing: 0; }

  .cols {
    display: block; }
    .cols .cell:first-child {
      margin-bottom: 1rem; }

  footer {
    padding: 0;
    padding-bottom: 5rem; } }
@media screen and (min-width: 1120px) {
  .menu {
    display: none; }

  header.collapsed nav {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
