* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Theinhardt-Regular";
  font-size: 18px;
  line-height: 1.4;
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-family: Theinhardt-Thin;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 1rem; }

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

h3, h4, h5, h6 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-family: Theinhardt-Medium;
  font-size: 1.16rem; }

p {
  margin-bottom: 1rem; }

img {
  width: 100%; }

a {
  color: #4d4d4d;
  text-decoration: none;
  transition: color 200ms linear, border-color 200ms linear; }

a:hover {
  color: #4d4d4d; }

.section-link {
  border: 2px solid #4d4d4d;
  padding: .5rem 1rem; }

a.sublink {
  color: white;
  padding-bottom: 1px;
  border-bottom: 2px solid white; }

.highlight a.section-link:hover, a.sublink:hover {
  color: #4d4d4d;
  border-color: #4d4d4d; }

.logo {
  width: 80px;
  position: fixed;
  top: .6rem;
  right: 1rem;
  z-index: 60; }

.arrow_bg {
  position: fixed;
  width: 95vw;
  left: 2vw;
  top: 50px;
  z-index: 1; }

.svg_arrow {
  width: 100%; }
  .svg_arrow .a {
    fill: #cd25b0; }
  .svg_arrow .b {
    fill: none;
    stroke: #cd25b0;
    stroke-miterlimit: 10;
    stroke-width: 1.66px; }

header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 50;
  padding: .8rem 10vw 0rem 10vw;
  width: 100vw; }
  header:hover {
    cursor: pointer; }
    header:hover .expanded {
      height: auto;
      max-height: 400px; }

.menu {
  display: none;
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 20px; }
  .menu .line {
    background: #4d4d4d;
    margin: 5px 0px;
    height: 2px; }

nav {
  background: white; }
  nav ul {
    list-style-type: none; }
  nav .expanded li {
    font-size: .9rem; }
    nav .expanded li:last-child {
      padding-bottom: 2rem; }
  nav a {
    display: inline-block;
    padding: 0.25rem 0;
    width: 100%; }
  nav a.main-menu {
    margin-bottom: 0.25rem; }
  nav .cell {
    padding: 0 0.5rem; }
  nav .expanded {
    max-height: 0;
    transition: max-height 500ms ease-in-out;
    overflow: hidden;
    background: white; }
  nav .bar {
    width: 100px;
    height: 2px;
    background: #4d4d4d;
    margin-bottom: 1rem;
    transition: background-color 200ms linear; }

section {
  min-height: 150vh;
  background: #cd25b0;
  background-image: url("../assets/img/demo 21.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed !important;
  padding-top: 3rem;
  padding-bottom: 12rem;
  position: relative; }

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  background-attachment: fixed;
  background-size: cover; }

.floater {
  position: absolute;
  top: 70vh;
  width: 80%;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 30; }

.highlight {
  background: white;
  width: 75%;
  padding: 2rem 2rem 4rem 2rem; }
  .highlight .summary {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem; }

.highlight_small {
  float: right;
  margin-top: 1rem;
  width: 50%;
  padding: 2rem 1.5rem;
  color: white; }
  .highlight_small .thumbnail {
    margin-right: 1.5rem; }

.pin {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: #cd25b0;
  color: white;
  padding: 1rem;
  font-size: .8rem;
  text-align: center;
  top: 100px;
  z-index: 10; }
  .pin .location {
    font-family: Theinhardt-Bold; }

.pin:after {
  content: "\25bc";
  text-align: center;
  color: #cd25b0;
  position: absolute;
  bottom: -30px;
  font-size: 30px;
  left: 50%;
  margin-left: -15px; }

.active .pin {
  opacity: 1; }

nav .about:hover .bar {
  background: #cd25b0; }

nav .learn:hover .bar {
  background: #ff5000; }

nav .research:hover .bar {
  background: #00c374; }

nav .engage:hover .bar {
  background: #cd25b0; }

.about .highlight {
  width: 100%; }
  .about .highlight .summary {
    font-family: Theinhardt-Light;
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 2rem; }
.about .highlight_small {
  background: #cd25b0;
  width: 75%; }
.about h1, .about a:hover, .about .section-link, .about .pin:after {
  color: #cd25b0; }
.about .section-link {
  border-color: #cd25b0; }
.about .pin {
  top: 200px;
  right: 10vw; }

.learn .pin {
  background: #ff5000;
  left: 20vw;
  top: 200px; }
.learn h1, .learn a:hover, .learn .section-link, .learn .pin:after {
  color: #ff5000; }
.learn .highlight_small {
  background: #ff5000;
  float: left; }
.learn .section-link {
  border-color: #ff5000; }

.research .pin {
  background: #00c374;
  top: 300px;
  right: 40vw; }
.research h1, .research a:hover, .research .section-link, .research .pin:after {
  color: #00c374; }
.research .highlight {
  margin-left: 25%; }
.research .section-link {
  border-color: #00c374; }

.engage .pin {
  background: #cd25b0;
  left: 30vw; }
.engage h1, .engage a:hover, .engage .section-link, .engage .pin:after {
  color: #cd25b0; }
.engage .section-link {
  border-color: #cd25b0; }

.bulletins .floater {
  top: 20vh; }
.bulletins .highlight {
  padding: 0; }
.bulletins .scroll {
  height: 330px;
  overflow: auto; }
.bulletins h5, .bulletins p {
  font-size: 1rem;
  padding: 1rem; }

.bulletin {
  padding: 1rem; }

.bulletin_location, time {
  font-size: .7rem; }

.bulletin_title {
  font-size: 1.5rem;
  margin: .5rem 0; }

time {
  display: block;
  margin-bottom: .5rem; }

.news {
  background: #e0e0e0; }

footer {
  padding: 1rem; }
  footer .cell {
    padding: 1rem; }

.image {
  width: 100%;
  height: 200px;
  background: gray;
  margin-bottom: 1rem; }

.cols {
  display: flex; }

.cell {
  flex: 1; }

.col2 {
  flex: 2; }

.mono {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(150%);
  filter: grayscale(100%) contrast(150%);
  opacity: 1; }

.close {
  width: 20px;
  margin: .5rem;
  display: none; }
  .close:hover .x {
    stroke: #cd25b0; }

.x {
  stroke: #4d4d4d;
  stroke-width: 2px; }

.fixedPos {
  position: fixed; }

@media screen and (max-width: 950px) {
  header {
    height: 50px; }
    header .expanded {
      height: auto;
      max-height: none; }

  .menu {
    display: block; }

  nav {
    display: none;
    padding: 0 .5rem .5rem .5rem;
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow: auto; }
    nav .cols {
      display: block; }
    nav .close {
      display: block; }
    nav .expanded li {
      font-size: 1rem; }
    nav .bar {
      margin-bottom: .5rem; } }
@media screen and (max-width: 450px) {
  .floater {
    top: 100vh;
    width: 95%; }

  section {
    min-height: 200vh;
    background-attachment: scroll !important;
    background-size: auto 100%;
    background-position: bottom; }

  .about .pin {
    top: 100px; }
  .about .floater {
    top: 70vh; }

  .pattern {
    background-size: auto 50%;
    background-attachment: scroll; }

  h1 {
    font-size: 3.5rem; }

  nav {
    width: 100vw; }

  .about .highlight .summary {
    font-size: 1.6rem; }

  .about .highlight_small, .highlight, .highlight_small {
    width: 100%;
    padding: 1.5rem 1.2rem 2rem 1.2rem; }

  .highlight_small {
    width: 100%; }

  .highlight .summary {
    font-size: 1.2rem; }

  .research .highlight {
    margin-left: 0; }

  .cols {
    display: block; }
    .cols .cell:first-child {
      margin-bottom: 1rem; }

  footer {
    padding: 0; } }
@media screen and (min-width: 950px) {
  .menu {
    display: none; }

  header.collapsed nav {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
